{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "stage-3"
  ],
  "env": {
    "prod": {
      "plugins": [
        "transform-class-properties",
        ["shaking-import",  {
          "libraryName": "lodash-es",
          "libraryDirectory": "."
        }]
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties",
        ["shaking-import",  {
          "libraryName": "lodash-es",
          "libraryOverride": "lodash",
          "libraryDirectory": "."
        }]
      ]
    }
  }
}
